# Template file, just copy it and rename it to ".env"

# change "db" to "localhost" if running locally
DATABASE_URL=postgresql+psycopg2://admin:123pass@db:5432/polygons_db

POSTGRES_USER=admin
POSTGRES_PASSWORD=123pass
POSTGRES_DB=polygons_db

PGADMIN_DEFAULT_EMAIL=naor.vilensky@gmail.com
PGADMIN_DEFAULT_PASSWORD=123pass
